aniso8601==3.0.2
Django==2.2.13
djangorestframework==3.9.0
flake8==3.6.0
graphene==2.1.3
graphene-django==2.2.0
graphql-core==2.1
graphql-relay==0.4.5
mccabe==0.6.1
promise==2.2.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pycodestyle==2.4.0
pyflakes==2.0.0
pytz==2018.7
Rx==1.6.1
singledispatch==3.4.0.3
six==1.11.0
